
@{
    ViewData["Title"] = "Shipping";
}
@model StickerSwap.Data.Swap

<h1>Shipping for swap #@Model.Id</h1>

First Name: @Model.User.FirstName
Last Name: @Model.User.LastName
Address: @Model.User.Address
Country: @Model.User.Country
State: @Model.User.State
ZIP: @Model.User.ZipCode



