
@{
    ViewData["Title"] = "Search";
}
@model StickerSwap.Models.SearchViewModel

<partial name="SearchBox" model="@Model" />

<hr />

@if (Model.Stickers != null)
{
    <h1 class="display-4">Results for @Model.SearchText</h1>

    <partial name="StickerCollection" model="@Model.Stickers" />
}

@if (Model.NumberOfPages > 1)
{
    <div class="row">
        <div class="col offset-6 col-3">
            <ul class="pagination">
                @if (Model.Page != 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-controller="Sticker" asp-route-SearchText="@Model.SearchText" asp-route-Page="@(Model.Page - 1)">Previous</a></li>
                }

                @for (var i = 0; i < Model.NumberOfPages; i++)
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-controller="Sticker" asp-route-SearchText="@Model.SearchText" asp-route-Page="@i">@(i + 1)</a></li>
                }

                @if (Model.Page + 1 < Model.NumberOfPages)
                {
                    <li class="page-item"><a class="page-link" asp-action="Search" asp-controller="Sticker" asp-route-SearchText="@Model.SearchText" asp-route-Page="@(Model.Page + 1)">Next</a></li>
                }
            </ul>
        </div>
    </div>

}